.jumbotron.header-jumbotron {
    padding: 1em 0;
}

.container-controls {
    display: flex;
    justify-content: flex-end;
    transform: translate(0, 2em);
}

.container-controls > * {
    margin-left: 1em;
}

.big-checkbox {
    width: 1.2em;
    height: 1.2em
}