@using Gamayun.Infrastucture.Grid
@using Gamayun.Infrastucture.Query
<div>Student Home</div>

@await Html.PartialAsync("_Grid", new GridConfiguration<MyClass> { GridSelector = "TestGrid", SelectHref = "/Login" })