@model SectionVm
@{
    ViewData["Title"] = "View Semester";
}
@await Html.PartialAsync("_PageHeader", "Semester View Page")

<hr />
<div class="container-fluid">
    <div class="jumbotron">
        <p><strong>Name:</strong>&nbsp;@Model.Name</p>
        <p><strong>Status:</strong>&nbsp;@Model.Status</p>
        <p><strong>Topic Name:</strong>&nbsp;@Model.TopicName</p>
        <div class="container-controls">
            <a asp-action="SectionEdit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
        </div>
    </div>
</div>
