@using Gamayun.Infrastucture.Grid.ResultModels
@model SectionCreateVm
@{
    var gridConfiguration = Model.GridConfiguration;
    gridConfiguration.Actions.Add(new GridAction
    {
        JsFunction = "topicAction",
        Title = "Choose"
    });

    ViewData["Title"] = "Create Section";
    var errors = ViewBag.Errors ?? Array.Empty<string>();
}

@await Html.PartialAsync("_PageHeader", "Section Create Page")

<hr />
<h6>Available Topics:</h6>
@await Html.PartialAsync("_Grid", gridConfiguration)
<hr />

<script>
    function topicAction(item) {
        $("#topicName").val(item.name)
        $("#topicId").val(item.id)
        $("#create-section").prop("disabled", false);
    }
</script>

<div class="container-fluid">
    <div class="jumbotron">
        @foreach (var error in errors)
        {
            <div class="alert alert-danger" role="alert">
                <strong>@error</strong>
            </div>
        }
        <form asp-area="Teacher" asp-controller="Section" asp-action="SectionCreate">
            <div class="row">
                <div class="col-lg-6 form-group">
                    <label for="name">Name</label>
                    <input id="name" name="name" class="form-control" placeholder="Name" required>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 form-group">
                    <label for="name">Topic</label>
                    <input id="topicName" class="form-control" placeholder="Choose Topic" disabled required>
                    <input hidden id="topicId" name="topicId" />
                </div>
            </div>
            <div class="container-controls">
                <button id="create-section" class="btn btn-primary" disabled>Create</button>
            </div>
        </form>
    </div>
</div>
